<%= form_with(model: tamu, local: true) do |form| %>
  <% if tamu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tamu.errors.count, "error") %> prohibited this tamu from being saved:</h2>

      <ul>
        <% tamu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Kode_Booking %>
    <%= form.number_field :kodebooking %>
  </div>

  <div class="field">
    <%= form.label :Nama_Tamu %>
    <%= form.text_field :namatamu %>
  </div>

  <div class="field">
    <%= form.label :Qty %>
    <%= form.number_field :qty %>
  </div>

  <div class="field">
    <%= form.label :Tanggal %>
    <%= form.date_select :tanggal %>
  </div>

  <div class="field">
    <%= form.label :Hotel %>
    <%= form.text_area :hotel %>
  </div>

  <div class="field">
    <%= form.label :Negara %>
    <%= form.text_field :negara %>
  </div>

  <div class="field">
    <%= form.label :Telp %>
    <%= form.number_field :telp %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :Driver %>
    <%= form.text_field :driver %>
  </div>

  <div class="field">
    <%= form.label :Note %>
    <%= form.text_area :note %>
  </div>

  <div class="field">
    <%= form.label :Supplier %>
    <%= collection_select( :tipepaket, :supplier_id, Tipepaket.all, :id, :supplier_id, {}, { :multiple => false } ) %>
  </div>

  <div class="field">
    <%= form.label :Jenis_Paket %>
    <%= collection_select( :tipepaket, :tipepaket, Tipepaket.all, :id, :jenispaket, {}, { :multiple => false } ) %>
  </div>

  <div class="field">
    <%= form.label :Nama_Aktifitas %>
    <%= collection_select( :tipepaket, :tipepaket, Tipepaket.all, :id, :namaaktifitas, {}, { :multiple => false } ) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
