<%= form_with(model: tamu, local: true) do |form| %>
  <% if tamu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tamu.errors.count, "error") %> prohibited this tamu from being saved:</h2>

      <ul>
        <% tamu.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :Kode_Booking %>
    <%= form.number_field :kodebooking, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :Nama_Tamu %>
    <%= form.text_field :namatamu, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :Qty %>
    <%= form.number_field :qty, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :Tanggal %>
    <%= form.date_select :tglaktifitas, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :Hotel %>
    <%= form.text_area :hotel, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :Negara %>
    <%= form.text_field :negara, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :Telp %>
    <%= form.number_field :telp, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :Email %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :Driver %>
    <%= form.text_field :driver, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :Note %>
    <%= form.text_area :note, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :Supplier %>
    <%= collection_select( :tamu, :supplier, Tipepaket.all, :id, :supplier_id, {}, { :multiple => false } ) %>
  </div>

  <div class="field form-group">
    <%= form.label :Nama_Aktifitas %>
    <%= collection_select( :tamu, :namaaktifitas, Tipepaket.all, :id, :namaaktifitas, {}, { :multiple => false } ) %>
  </div>

  <div class="field form-group">
    <%= form.label :jenispaket %>
    <%= collection_select( :tamu, :tipepaket_id, Tipepaket.all, :id, :jenispaket, {}, { :multiple => false }) %>
  </div>


  <div class="actions form-group">
    <%= form.submit 'Tambah Tamu', class: 'btn btn-info btn-sm' %>
  </div>
<% end %>
