<p id="notice"><%= notice %></p>

<p>
  <strong>Kodebooking:</strong>
  <%= @tamu.kodebooking %>
</p>

<p>
  <strong>Namatamu:</strong>
  <%= @tamu.namatamu %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @tamu.qty %>
</p>

<p>
  <strong>Tanggal:</strong>
  <%= @tamu.tglaktifitas %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @tamu.hotel %>
</p>

<p>
  <strong>Negara:</strong>
  <%= @tamu.negara %>
</p>

<p>
  <strong>Telp:</strong>
  <%= @tamu.telp %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tamu.email %>
</p>

<p>
  <strong>Note:</strong>
  <%= @tamu.note %>
</p>

<p>
  <strong>Jenispaket:</strong>
  <%= @tamu.tipepaket.jenispaket %>
</p>

<p>
  <strong>Namaaktifitas:</strong>
  <%= @tamu.tipepaket.namaaktifitas %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @tamu.tipepaket.supplier_id %>
</p>

<%= link_to 'Edit', edit_tamu_path(@tamu) %> |
<%= link_to 'Back', tamus_path %>
