<%= render partial: 'structures/navigation' %> 

<div class="container">
<div class="col-md-8 col-lg-6">
<div class="card mx-4">
  <div class="card-body p-4">
    <h2 class="card-title font-italic">
      <%= t(".Tamu") %>
    </h2>
<div class="list-group-item list-group-item-dark">
  <strong>Kodebooking:</strong>
  <%= @tamu.kodebooking %>
</div>

<div class="list-group-item list-group-item-success">
  <strong>Namatamu:</strong>
  <%= @tamu.namatamu %>
</div>

<div class="list-group-item list-group-item-success">
  <strong>Qty:</strong>
  <%= @tamu.qty %>
</div>

<div class="list-group-item list-group-item-success">
  <strong>Tanggal:</strong>
  <%= @tamu.tglaktifitas %>
</div>

<div class="list-group-item list-group-item-success">
  <strong>Hotel:</strong>
  <%= @tamu.hotel %>
</div>

<div class="list-group-item list-group-item-success">
  <strong>Negara:</strong>
  <%= @tamu.negara %>
</div>

<div class="list-group-item list-group-item-success">
  <strong>Telp:</strong>
  <%= @tamu.telp %>
</div>

<div class="list-group-item list-group-item-success">
  <strong>Email:</strong>
  <%= @tamu.email %>
</div>

<div class="list-group-item list-group-item-success">
  <strong>Note:</strong>
  <%= @tamu.note %>
</div>

<div class="list-group-item list-group-item-success">
  <strong>Jenispaket:</strong>
  <%= @tamu.tipepaket.jenispaket %>
</div>

<div class="list-group-item list-group-item-success">
  <strong>Namaaktifitas:</strong>
  <%= @tamu.tipepaket.namaaktifitas %>
</div>

<div class="list-group-item list-group-item-success">
  <strong>Supplier:</strong>
  <%= @tamu.tipepaket.supplier_id %>
</div>

<%= link_to 'Edit', edit_tamu_path(@tamu), class: 'btn btn-sm fas fa-edit' %>
<%= link_to 'Back', tamus_path, class: 'btn btn-sm fas fa-long-arrow-alt-left' %>
