<%= form_with(model: invoice, local: true) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% invoice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
  <div class="col-md-8 col-lg-6">
  <div class="card mx-4">
    <div class="card-body p-4">
      <h2 class="card-title">
        <%= t(".Invoice") %>
      </h2>

  <div class="field form-group">
    <%= form.label :No_Invoice %>
    <%= form.number_field :noinvoice, class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :Tanggal %>
    <%= form.date_select :tanggal %>
  </div>

  <div class="field">
    <%= form.label :Jatuh_tempo %>
    <%= form.date_select :paymentdue %>
  </div>

  <div class="field form-group">
    <%= form.label :Supplier %>
    <%= form.text_field :supplier, class:'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :Telp %>
    <%= form.number_field :telp, class:'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :Deskripsi %>
    <%= form.text_area :desk, class:'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :Nama_tamu %>
    <%= form.text_field :namatamu, class:'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :nama_aktifitas %>
    <%= form.text_field :namaaktifitas, class:'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :Tanggal_aktifitas %>
    <%= form.date_select :tglaktifitas %>
  </div>

  <div class="field form-group">
    <%= form.label :Qty %>
    <%= form.number_field :qty, class:'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :Total %>
    <%= form.number_field :total, class:'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :Total_amount %>
    <%= form.number_field :totalamount, class:'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :Nama_bank %>
    <%= form.text_field :namabank, class:'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :Nama_akun %>
    <%= form.text_field :namaakun, class:'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :Nomor_akun %>
    <%= form.number_field :nomorakun, class:'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :swiftcode %>
    <%= form.text_field :swiftcode, class:'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Simpan', class: 'btn btn-info btn-sm btn-block' %>
  </div>
<% end %>
