<%= render partial: 'structures/navigation' %>  
<h1>Invoice</h1>
<%= link_to 'Tambah Invoice', new_invoice_path, class: 'btn btn-sm fas fa-plus' %>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr align="center">
      <th>No Invoice</th>
      <th>Tanggal</th>
      <th>Payment Due</th>
      <th>Supplier</th>
      <th>Total Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.noinvoice %></td>
        <td><%= invoice.tanggal %></td>
        <td><%= invoice.paymentdue %></td>
        <td><%= invoice.supplier %></td>
        <td><%= invoice.totalamount %></td>
        <td><%= link_to 'Lihat', invoice, class: 'btn btn-sm fas fa-list' %></td>
        <td><%= link_to 'Edit', edit_invoice_path(invoice), class: 'btn btn-sm fas fa-edit' %></td>
        <td><%= link_to 'Hapus', invoice, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-sm fas fa-trash-alt' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>