<p id="notice"><%= notice %></p>

<h1>Bankaccounts</h1>

<table>
  <thead>
    <tr>
      <th>Namaakun</th>
      <th>Namabank</th>
      <th>Nomorakun</th>
      <th>Swiftcode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bankaccounts.each do |bankaccount| %>
      <tr>
        <td><%= bankaccount.namaakun %></td>
        <td><%= bankaccount.namabank %></td>
        <td><%= bankaccount.nomorakun %></td>
        <td><%= bankaccount.swiftcode %></td>
        <td><%= link_to 'Show', bankaccount %></td>
        <td><%= link_to 'Edit', edit_bankaccount_path(bankaccount) %></td>
        <td><%= link_to 'Destroy', bankaccount, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bankaccount', new_bankaccount_path %>
