<%= render partial: 'structures/navigation' %>  

<p id="notice"><%= notice %></p>

<h1>Pakets</h1>

<table>
  <thead>
    <tr>
      <th>Jenispaket</th>
      <th>Desk</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pakets.each do |paket| %>
      <tr>
        <td><%= paket.jenispaket %></td>
        <td><%= paket.desk %></td>
        <td><%= link_to 'Show', paket %></td>
        <td><%= link_to 'Edit', edit_paket_path(paket) %></td>
        <td><%= link_to 'Destroy', paket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paket', new_paket_path %>
