<p id="notice"><%= notice %></p>

<p>
  <strong>Jenispaket:</strong>
  <%= @paket.jenispaket %>
</p>

<p>
  <strong>Desk:</strong>
  <%= @paket.desk %>
</p>

<%= link_to 'Edit', edit_paket_path(@paket) %> |
<%= link_to 'Back', pakets_path %>
