<%= form_with(model: supplier, local: true) do |form| %>
  <% if supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
        <% supplier.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
  <div class="col-md-8 col-lg-6">
  <div class="card mx-4">
    <div class="card-body p-4">
      <h2 class="card-title">
        <%= t(".Tambah Supplier") %>
      </h2>

  <div class="field form-group">
    <%= form.label :supplier %>
    <%= form.text_field :supplier, class:'form-control', placeholder:'Nama Supplier' %>
  </div>

  <div class="field form-group">
    <%= form.label :Alamat %>
    <%= form.text_area :address, class:'form-control', placeholder:'Alamat' %>
  </div>

  <div class="field form-group">
    <%= form.label :Email %>
    <%= form.text_field :email, class:'form-control', placeholder:'Email' %>
  </div>

  <div class="field form-group">
    <%= form.label :Telp %>
    <%= form.number_field :telp, class:'form-control', placeholder:'Telpon' %>
  </div>

  <div class="actions">
    <%= form.submit 'Tambahkan Supplier', class: 'btn btn-info btn-sm' %>
  </div>
<% end %>
