<%= render partial: 'structures/navigation' %> 

<p id="notice"><%= notice %></p>

<h1>Suppliers</h1>

<table class="table">
  <thead class="thead-dark" align="center">
    <tr>
      <th>Supplier</th>
      <th>Address</th>
      <th>Email</th>
      <th>Telp</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.supplier %></td>
        <td><%= supplier.address %></td>
        <td><%= supplier.email %></td>
        <td><%= supplier.telp %></td>
        <td>
          <%= link_to 'Lihat', supplier, class: 'btn btn-default btn-sm glyphicon glyphicon-menu-hamburger' %>
        </td>
        <td><%= link_to 'Edit', edit_supplier_path(supplier), class: 'btn btn-default btn-sm glyphicon glyphicon-edit'  %></td>
        <td><%= link_to 'Hapus', supplier, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm glyphicon glyphicon-remove'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Tambah Supplier', new_supplier_path, class: 'btn btn-info btn-sm' %>
