<%= render partial: 'structures/navigation' %> 

<h1>Supplier</h1>
<%= link_to 'Tambah Supplier', new_supplier_path, class: 'btn btn-sm fas fa-plus' %>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Nama Supplier</th>
      <th>Alamat</th>
      <th>Email</th>
      <th>Telp</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.supplier %></td>
        <td><%= supplier.address %></td>
        <td><%= supplier.email %></td>
        <td><%= supplier.telp %></td>
        <td>
          <%= link_to 'Lihat', supplier, class: 'btn btn-sm fas fa-list' %>
        </td>
        <td><%= link_to 'Edit', edit_supplier_path(supplier), class: 'btn btn-sm fas fa-edit'  %></td>
        <td><%= link_to 'Hapus', supplier, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm fas fa-trash-alt'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

