<%= render partial: 'structures/navigation' %> 
  <div class="container">
  <div class="col-md-8 col-lg-6">
  <div class="card mx-4">
    <div class="card-body p-4">
      <h2 class="card-title font-italic">
        <%= t(".Supplier") %>
      </h2>

<div class="list-group-item list-group-item-info">
  <strong>Nama Supplier:</strong>
  <%= @supplier.supplier %>
</div>

<div class="list-group-item list-group-item-info">
  <strong>Alamat:</strong>
  <%= @supplier.address %>
</div>

<div class="list-group-item list-group-item-info">
  <strong>Email:</strong>
  <%= @supplier.email %>
</div>

<div class="list-group-item list-group-item-info">
  <strong>Telpon:</strong>
  <%= @supplier.telp %>
</div>

<%= link_to 'Edit', edit_supplier_path(@supplier), class: 'btn btn-sm fas fa-edit' %>
<%= link_to 'Back', suppliers_path, class: 'btn btn-sm fas fa-long-arrow-alt-left' %>
