<%= render partial: 'structures/navigation' %> 
  <div class="container-fluid">
  <div class="col-md-8 col-lg-6">
  <div class="card mx-4">
    <div class="card-body p-4">
      <h2 class="card-title">
        <%= t(".Supplier") %>
      </h2>

<p>
  <strong>Supplier:</strong>
  <%= @supplier.supplier %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @supplier.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supplier.email %>
</p>

<p>
  <strong>Telpon:</strong>
  <%= @supplier.telp %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier), class: 'btn btn-default btn-sm glyphicon glyphicon-edit' %>
<%= link_to 'Back', suppliers_path, class: 'btn btn-default btn-sm glyphicon glyphicon-menu-left' %>
