<%= form_with(model: tipepaket, local: true) do |form| %>
  <% if tipepaket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipepaket.errors.count, "error") %> prohibited this tipepaket from being saved:</h2>

      <ul>
        <% tipepaket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
  <div class="col-md-8 col-lg-6">
  <div class="card mx-4">
    <div class="card-body p-4">
      <h2 class="card-title font-italic">
        <%= t(".Tipe Paket") %>
      </h2>


  <div class="field form-group">
    <%= form.label :Tipe_Paket %>
    <%= form.select(:jenispaket, options_for_select([['Rafting', 'Rafting'], ['Tubing', 'Tubing'], ['Snorkeling', 'Snorkeling'],
    ['Tour', 'Tour'], ['Transfer', 'Transfer'], ['Watersport', 'Watersport']])) %>
  </div>
  
  <div class="field form-group">
    <%= form.label :Nama_Aktifitas %>
    <%= form.text_field :namaaktifitas, class:'form-control', placeholder:'Nama Aktifitas' %>
  </div>

  <div class="field form-group">
    <%= form.label :Harga %>
    <%= form.text_field :harga, class:'form-control', placeholder:'Harga' %>
  </div>

  <div class="field form-group">
    <%= form.label :Supplier %>
    <%= collection_select( :tipepaket, :supplier_id, Supplier.all, :id, :supplier, {}, { :multiple => false }) %>
  </div>

  <div class="field form-group">
    <%= form.label :Include %>
    <%= form.text_area :include, class:'form-control', placeholder:'Include' %>
  </div>

  <div class="field form-group">
    <%= form.label :Exclude %>
    <%= form.text_area :exclude, class:'form-control', placeholder:'Exclude' %>
  </div>

  <div class="actions">
    <%= form.submit 'Simpan', class: 'btn btn-info btn-sm btn-block' %>
  </div>
<% end %>
