<%= render partial: 'structures/navigation' %>  

<p id="notice"><%= notice %></p>

<h1>Tipepakets</h1>

<table class="table">
  <thead class="thead-dark">
    <tr align="center">
      <th>Nama Supplier</th>
      <th>Nama Aktifitas</th>
      <th>Harga</th>
      <th>Include</th>
      <th>Exclude</th>
      <th>Jenis Paket</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipepakets.each do |tipepaket| %>
      <tr>
        <td><%= tipepaket.supplier_id%></td>
        <td><%= tipepaket.namaaktifitas %></td>
        <td><%= tipepaket.harga %></td>
        <td><%= tipepaket.include %></td>
        <td><%= tipepaket.exclude %></td>
        <td><%= tipepaket.jenispaket %></td>
        <td><%= link_to 'Show', tipepaket %></td>
        <td><%= link_to 'Edit', edit_tipepaket_path(tipepaket) %></td>
        <td><%= link_to 'Destroy', tipepaket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tipepaket', new_tipepaket_path %>
