<%= render partial: 'structures/navigation' %>  

<p id="notice"><%= notice %></p>

<h1>Tipepakets</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Nama Supplier</th>
      <th>Nama Aktifitas</th>
      <th>Harga</th>
      <th>Jenis Paket</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tipepakets.each do |tipepaket| %>
      <tr>
        <td><%= tipepaket.supplier.try(:supplier)%></td>
        <td><%= tipepaket.namaaktifitas %></td>
        <td><%= tipepaket.harga %></td>
        <td><%= tipepaket.jenispaket %></td>
        <td><%= link_to 'Show', tipepaket, class: 'btn btn-default btn-sm glyphicon glyphicon-menu-hamburger' %></td>
        <td><%= link_to 'Edit', edit_tipepaket_path(tipepaket), class: 'btn btn-default btn-sm glyphicon glyphicon-edit' %></td>
        <td><%= link_to 'Destroy', tipepaket, method: :delete, data: { confirm: 'Are you sure?' }, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm glyphicon glyphicon-remove' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Tambah Tipe Paket', new_tipepaket_path, class: 'btn btn-info btn-sm' %>
