<%= render partial: 'structures/navigation' %> 

<p id="notice"><%= notice %></p>

<p>
  <strong>Nama Aktifitas:</strong>
  <%= @tipepaket.namaaktifitas %>
</p>

<p>
  <strong>Harga:</strong>
  <%= @tipepaket.harga %>
</p>

<p>
  <strong>Include:</strong>
  <%= @tipepaket.include %>
</p>

<p>
  <strong>Exclude:</strong>
  <%= @tipepaket.exclude %>
</p>

<p>
  <strong>Jenis Paket:</strong>
  <%= @tipepaket.jenispaket %>
</p>

<%= link_to 'Edit', edit_tipepaket_path(@tipepaket), class: 'btn btn-default btn-sm glyphicon glyphicon-edit' %> |
<%= link_to 'Back', tipepakets_path, class: 'btn btn-default btn-sm glyphicon glyphicon-menu-left' %>
